

<ion-content  >
 
  <ion-slides class="ion-padding"  pager="true"  class="ion"  >
    <ion-slide  >   
      <div style="margin-top:1px;position: absolute;top: 32px;">      
            <ion-button shape="round" color="warning" style="text-align:center"  (click)="login()"><b>Welcome to Smart Logistics</b></ion-button>
          </div>                      
    </ion-slide> 

    <ion-slide   >        
        <ion-img  src="assets/imgs/logo-white outline.png" style="margin-bottom: 1px;height:150px"></ion-img> 

          <div style="margin-top:15px">      
            <ion-button shape="round" color="warning" style="text-align:center"  (click)="login()">GET STARTED</ion-button>
          </div> 
   </ion-slide> 

  </ion-slides>
</ion-content>

 