.letsplay{
    padding-left:20px;
    padding-right:20px;
   
    background-color:black;
    height:100%;
    padding-top:10%;
    border-radius:15px;
}


.imgholder{
img{
    width: 50%;
    height:  50%;      
    position: center;
}
width: 100px;
z-index: 3;  
top:15px;
margin-left: 35%;
}