<ion-content padding >
  <ion-grid>  
    <ion-row>
      <ion-col text-center>
        
        <div style="width: 97%;text-align: center;">                 
          <ion-item text-wrap>
            <label style="font-size: medium;" >
              {{Msg}}                                   
            </label>
          </ion-item>

         
          

          <div style="text-align: center;">
            <ion-button style="margin-top: 15px " shape="round" color="medium"  (click)="close()">
              Close          
              <!-- <ion-icon slot="start" name="checkmark-outline"></ion-icon> -->
            </ion-button>       
          </div>         
        </div>  
      </ion-col>
    </ion-row>

    
    
  </ion-grid>
</ion-content>